<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
   <!--font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body >
     
    <header class="header-top">
        <div class="top">
            <div class="logo">
        <a href="/">
            <img class="logo" title="mercado liebre" src="/images/logo1.png" alt="logo de mercado liebre">
        </a>
           </div>
     
        <form id="search" aria-label="search" action="/">
            <input type="text" "  placeholder="Buscar productos, marcas">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            
        </form>
     </div>
    
        
    <div class="navegacion">
        <nav class="site1">
            <ul>
                <li>
                    <a href="#">Ofertas </a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales </a>
                </li>
                <li>
                    <a href="#">Vender </a>
                </li>
                <li>
                    <a href="#">Ayuda </a>
                </li>
            </ul>
        </nav>
            <nav class="site2">
                <ul>
                <li>
                    <a href="#">Creá tu cuenta </a><i class="fa-solid fa-user"></i>
                </li>
                <li>
                    <a href="#">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis compras </a><i class="fa-solid fa-cart-shopping"></i>
                </li>
            </ul>
        </nav>
    </div>
       
    </header>

    <div class="barrita">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="cuotas">
    <p class="titulo" ><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
</body>
</div>

    <main>
    <header class="visitados">
            <p class="seccion">Basado en tu última visita</p>
        </header>
        <section class="comprar">
            
                    
                    <article>
                    <div class="descripcionP">
                        <div class="imagen-articulo">
                    <img class="articulos" title="cafetera" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                        </div> 
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="articulo">Cafetera Moulinex</p>
                    
                    </article>
                    <article>
                    <div class="descripcionP">
                    <img class="articulos" title="macbook" src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="articulo">MacBook Pro 2019</p>
                    </div>
                    </article>
                    <article>
                    <div class="descripcionP">
                    <img class="articulos" title="Galaxy" src="/images/img-samsung-galaxy-s10.jpg" alt="galaxys10">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="articulo">Samsung Galaxy S10</p>
                    </div>
                    </article>
                    <article>
                    <div class="descripcionP">
                    <img class="articulos" title="SmartTV" src="/images/img-tv-samsung-smart.jpg" alt="smartv">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="articulo">SmartTV Samsung 43"</p>
                    </div>
                    </article>
            
         </div>
        </section>
        <header class="visitados">
            <p class="seccion">Ofertas</p>
        </header>
        <section class="comprar">
                <article>
                <div class="descripcionP">
                <img class="articulos" title="cafetera" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="articulo">Cafetera Moulinex</p>
                </div>
                </article>
                <article>
                <div class="descripcionP">
                <img class="articulos" title="macbook" src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="articulo">MacBook Pro 2019</p>
                </div>
                </article>
                <article>
                <div class="descripcionP">
                <img class="articulos" title="Galaxy" src="/images/img-samsung-galaxy-s10.jpg" alt="galaxys10">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="articulo">Samsung Galaxy S10</p>
                </div>
                </article>

                <article>
                <div class="descripcionP">
                <img class="articulos" title="SmartTV" src="/images/img-tv-samsung-smart.jpg" alt="smartv">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <p class="articulo">SmartTV Samsung 43"</p>
                
                </article>
            
        </section>
    </main>




<footer>
   <section class="footer">
    <div>
        <i class="fa-solid fa-credit-card"></i>
    </div>
    <h3 class="footer">Pagá con tarjeta o en efectivo</h3>
   
   <p class="footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
    
        <div>
            <i class="fa-solid fa-gift"></i>
        </div>
        <h3 class="footer">Envío gratis desde $ 2.500</h3>
       
       <p class="footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
        
            <div>
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h3 class="footer">Seguridad, de principio a fin</h3>
          
           <p class="footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            
                <h4 class="footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </section>
</footer>

</html>