*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Roboto";
    font-size: 12px;
    
}


body{
    background: #ebebeb;
    width: 100%;
    font-size: 12px;

}

.header-top{
    background-color: #EAC926;
    
}

.top{
    padding: 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navegacion{
    
    text-align: left;
    margin: 20px;
    padding:10px ;
    flex-wrap: wrap;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
}*/
.top > form#search{
    background-color: white;
    display: flex;
    height: 20px;
}

form#search >  input{
    width: 100px;
    height: 20px;
    outline: none;
    border: 1px solid transparent;
    padding: 10px 5px;
}

form#search >  button{
    outline: none;
    height: 20px;
    width: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid transparent;
    border-left: 1px  solid lightgrey;

    display: flex;
    justify-content: center;
    align-items: center;
}

button > .fa-magnifying-glass{
    color: rgb(145, 145, 145);
    font-size: 10px;
}

.barrita{
    padding: 10px;
}

header.visitados{
    margin: 10px 0px;
}
/* Header */

img.logo{
    width: 210px;
    height:auto;
    display: block;
}
div{
    text-align: center;
}

.cuotas{
    text-align: center;
    margin:10px 0px;
    
}
p.seccion{
    text-align: center;
    margin:30px 0px;
}
/* main */
main{
    width: 90%;
    text-align: center;
    margin:auto;
    padding: 50px;
}
article{
    margin:10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


h2{
    font-size: 24px;
    text-align: left;
}
p.cafetera{
    text-align: center;
}
img.articulos {
    width: 200px; 
    height: auto; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    margin-bottom: 10px; 
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
p.articulo{
    text-align: center;
    
}


p.precio {
    font-size: 18px;
    text-align: center;
    
}

p.descuento {
    font-size: 16px;
    text-align: center;
    color: #39b54a;
}

p.descripcion {
    font-size: 16px;
    text-align: center;
    
}

div.descripcionP{
    width: 100%;
    margin: 16px;
    border: 1px solid #ebebeb;
    overflow: hidden;
    background-color: white;
    padding: 14px 12px;
    
}
section.comprar{
    margin: auto;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* footer */
p.footer {
    font-size: 12px;
    text-align: center;
    
}
h3.footer {
    font-size: 12px;
    text-align: center;
    
    
}
h4.footer {
    font-size: 12px;
    text-align: center;
    
}


/*smartphone*/
@media (max-width: 766px){
    .navegacion{
        display:none;
    }
}

/*tablet*/
@media (min-width: 768px){
    i{
        font-size: 1.3em;
    }
    section{
        align-items: flex-start;
    }

    .articles{
        justify-content: flex-start;
    }

    form#search >  input{
        width: 200px;
    }
}




/*Laptop */

@media (min-width: 1024px) {
    .header-top {
        display: flex;
        flex-direction: column;
    }

    .top{
        width: 100%;
        padding: 10px 50px;
        display: flex;
        justify-content: space-between;
    }
    .header-top > nav{
        display: block;
    }

    
    .barrita{
        display: none;
    }

    article{
        cursor: pointer;
        transition: box-shadow, .5s, scale,.5s;
    }

    
}
    